# US Poverty data by county for 2019
<hr>

In [1]:
import pandas as pd
import os
import re

# Data

### US Poverty data by county for 2019

Economic Research Service  
U.S. Department of Agriculture  
link: https://data.ers.usda.gov/reports.aspx?ID=17826

| Columns             | Description          |
| -----------         | -----------          |
| fips                | FIPS CODE            |
| county              | County within state        |
| State               | State                   |
| ruc_code            | ruc_code             |
| total_all_people'      | Totals All people in poverty (2019)              |
| total_all_people_min | 90% confidence interval of estimate  Lower Bound, All People |
| total_all_people_max | 90% confidence interval of estimate  Upper Bound, All People |
| under18_pct         | Totals Children ages 0-17 in poverty (2019)                  |
| under18_min         | 90% confidence interval of estimate, Children ages 0-17      |
| under18_max         | 90% confidence interval of estimate, Children ages 0-17      |
| type                | count or percent

## Constants
<hr>

In [2]:
stats_master_list = ['Vermont',
 'Mississippi',
 'Maine',
 'Montana',
 'Washington',
 'District of Columbia',
 'Texas',
 'Alabama',
 'Michigan',
 'Maryland',
 'Rhode Island',
 'South Dakota',
 'Nebraska',
 'Virginia',
 'Florida',
 'Utah',
 'Louisiana',
 'Missouri',
 'Massachusetts',
 'South Carolina',
 'Pennsylvania',
 'Tennessee',
 'Minnesota',
 'Idaho',
 'Alaska',
 'Oklahoma',
 'North Dakota',
 'Arkansas',
 'Georgia',
 'New Hampshire',
 'Indiana',
 'Puerto Rico',
 'New Jersey',
 'Delaware',
 'West Virginia',
 'Colorado',
 'New York',
 'Kansas',
 'Arizona',
 'Ohio',
 'Hawaii',
 'Illinois',
 'Oregon',
 'North Carolina',
 'California',
 'Kentucky',
 'Wyoming',
 'Iowa',
 'Nevada',
 'Connecticut',
 'Wisconsin',
 'New Mexico']

In [3]:
columns = ['Textbox105', 'Textbox106', 'fips', 'county', 'ruc_code',
       'total_all_people', 'total_all_people_min', 'total_all_people_max',
       'under18', 'under18_min', 'under18_max', 'type',
       'state']

## File managment
<hr>

In [4]:
#os.chdir('../codeathon/data-overlook/USDA_gov-Poverty/')

In [5]:
files = os.listdir("../data_raw/USDA_gov-Poverty/")

In [6]:
# remove mac file 
files.remove(".DS_Store")

In [7]:
files

['PovertyReport_Mississippi.csv',
 'PovertyReport_Massachusetts.csv',
 'PovertyReport_Florida.csv',
 'PovertyReport_Michigan.csv',
 'PovertyReport_Rhode_Island.csv',
 'PovertyReport_Idaho.csv',
 'PovertyReport_Oregon.csv',
 'PovertyReport_Kansas.csv',
 'PovertyReport_Wyoming.csv',
 'PovertyReport_Georgia.csv',
 'PovertyReport_Nevada.csv',
 'PovertyReport_Maryland.csv',
 'PovertyReport_Alaska.csv',
 'PovertyReport_Ohio.csv',
 'PovertyReport_Wisconsin.csv',
 'PovertyReport_District_of_Columbia.csv',
 'PovertyReport_North_Carolina.csv',
 'PovertyReport_Maine.csv',
 'PovertyReport_Minnesota.csv',
 'PovertyReport_Nebraska.csv',
 'PovertyReport_Indiana.csv',
 'PovertyReport_Arkansas.csv',
 'PovertyReport_Tennessee.csv',
 'PovertyReport_North_Dakota.csv',
 'PovertyReport_West_Virginia.csv',
 'PovertyReport_Montana.csv',
 'PovertyReport_New_Hampshire.csv',
 'PovertyReport_Virginia.csv',
 'PovertyReport_Oklahoma.csv',
 'PovertyReport_Utah.csv',
 'PovertyReport_Colorado.csv',
 'PovertyReport_South_Dakota.csv',
 'PovertyReport_Illinois.csv',
 'PovertyReport_Vermont.csv',
 'PovertyReport_new_Jersey.csv',
 'PovertyReport_South_Carolina.csv',
 'PovertyReport_Missouri.csv',
 'PovertyReport_new_york.csv',
 'PovertyReport_Washington.csv',
 'PovertyReport_Kentucky.csv',
 'PovertyReport_Hawaii.csv',
 'PovertyReport_Delaware.csv',
 'PovertyReport_Pennsylvania.csv',
 'PovertyReport_Louisiana.csv',
 'PovertyReport_Alabama.csv',
 'PovertyReport_Texas.csv',
 'PovertyReport_Arizona.csv',
 'PovertyReport_new_Mexico.csv',
 'PovertyReport_California.csv',
 'PovertyReport_Iowa.csv',
 'PovertyReport_Connecticut.csv']

# Example of the csv files
<hr>

In [8]:
temp_df = pd.read_csv('../data_raw/USDA_gov-Poverty/PovertyReport_Alabama.csv',names=columns)

In [9]:
temp_df.shape

(366, 13)

In [10]:
temp_df.head()

,Textbox105,Textbox106,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
0,PolygonLayer1_label,Value0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,15.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,12.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,10.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,27.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
temp_df.tail()

,Textbox105,Textbox106,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
361,All people in poverty (2019),Children ages 0-17 in poverty (2019),Virginia,"822,944","805,003","840,885","242,806","232,710","252,902",NaN,NaN,NaN,NaN
362,All people in poverty (2019),Children ages 0-17 in poverty (2019),Washington,"731,216","712,292","750,140","195,927","186,046","205,808",NaN,NaN,NaN,NaN
363,All people in poverty (2019),Children ages 0-17 in poverty (2019),West Virginia,"281,175","271,926","290,424","72,505","68,983","76,027",NaN,NaN,NaN,NaN
364,All people in poverty (2019),Children ages 0-17 in poverty (2019),Wisconsin,"591,404","578,030","604,778","167,882","160,492","175,272",NaN,NaN,NaN,NaN
365,All people in poverty (2019),Children ages 0-17 in poverty (2019),Wyoming,"55,776","51,997","59,555","15,137","13,730","16,544",NaN,NaN,NaN,NaN

# Create master DataFrame
<hr>

In [12]:
# Concat 

# create master file 
master_df = pd.DataFrame(columns = columns)
# create variable to count rows
master_row_count = 0

for file in files:
    # read csv to dataframe
    df = pd.read_csv('../data_raw/USDA_gov-Poverty/' +file, names=columns)
    # locate breaks in index
    index_s = df[ df.Textbox105.str.contains(r'Textbox*') == True ].index
    # find anem of stName of state
    state_name = df.iloc[index_s[0]+1,3]
    print(f' File name: {file} for the state {state_name} has {len(index_s)} inside.')
    
    # create dataframe with percent
    _percent_df = df.iloc[index_s[0]+2:index_s[1],:].copy()
    _percent_df['type'] = 'percent'
    _percent_df['state'] = state_name
    
    # create dataframe with numbers
    _numbers_df = df.iloc[index_s[1]+2:index_s[2],:].copy()
    _numbers_df['type'] = 'numbers'
    _numbers_df['state'] = state_name
    
    # count of total rows
    master_row_count = master_row_count + _percent_df.shape[0]
    
    # CONCAT dataFRAME together
    master_df = pd.concat([master_df, _percent_df, _numbers_df])

 File name: PovertyReport_Mississippi.csv for the state Mississippi has 4 inside.
 File name: PovertyReport_Massachusetts.csv for the state Massachusetts has 4 inside.
 File name: PovertyReport_Florida.csv for the state Florida has 4 inside.
 File name: PovertyReport_Michigan.csv for the state Michigan has 4 inside.
 File name: PovertyReport_Rhode_Island.csv for the state Rhode Island has 4 inside.
 File name: PovertyReport_Idaho.csv for the state Idaho has 4 inside.
 File name: PovertyReport_Oregon.csv for the state Oregon has 4 inside.
 File name: PovertyReport_Kansas.csv for the state Kansas has 4 inside.
 File name: PovertyReport_Wyoming.csv for the state Wyoming has 4 inside.
 File name: PovertyReport_Georgia.csv for the state Georgia has 4 inside.
 File name: PovertyReport_Nevada.csv for the state Nevada has 4 inside.
 File name: PovertyReport_Maryland.csv for the state Maryland has 4 inside.
 File name: PovertyReport_Alaska.csv for the state Alaska has 4 inside.
 File name: PovertyReport_Ohio.csv for the state Ohio has 4 inside.
 File name: PovertyReport_Wisconsin.csv for the state Wisconsin has 4 inside.
 File name: PovertyReport_District_of_Columbia.csv for the state District of Columbia has 4 inside.
 File name: PovertyReport_North_Carolina.csv for the state North Carolina has 4 inside.
 File name: PovertyReport_Maine.csv for the state Maine has 4 inside.
 File name: PovertyReport_Minnesota.csv for the state Minnesota has 4 inside.
 File name: PovertyReport_Nebraska.csv for the state Nebraska has 4 inside.
 File name: PovertyReport_Indiana.csv for the state Indiana has 4 inside.
 File name: PovertyReport_Arkansas.csv for the state Arkansas has 4 inside.
 File name: PovertyReport_Tennessee.csv for the state Tennessee has 4 inside.
 File name: PovertyReport_North_Dakota.csv for the state North Dakota has 4 inside.
 File name: PovertyReport_West_Virginia.csv for the state West Virginia has 4 inside.
 File name: PovertyReport_Montana.csv for the state Montana has 4 inside.
 File name: PovertyReport_New_Hampshire.csv for the state New Hampshire has 4 inside.
 File name: PovertyReport_Virginia.csv for the state Virginia has 4 inside.
 File name: PovertyReport_Oklahoma.csv for the state Oklahoma has 4 inside.
 File name: PovertyReport_Utah.csv for the state Utah has 4 inside.
 File name: PovertyReport_Colorado.csv for the state Colorado has 4 inside.
 File name: PovertyReport_South_Dakota.csv for the state South Dakota has 4 inside.
 File name: PovertyReport_Illinois.csv for the state Illinois has 4 inside.
 File name: PovertyReport_Vermont.csv for the state Vermont has 4 inside.
 File name: PovertyReport_new_Jersey.csv for the state New Jersey has 4 inside.
 File name: PovertyReport_South_Carolina.csv for the state South Carolina has 4 inside.
 File name: PovertyReport_Missouri.csv for the state Missouri has 4 inside.
 File name: PovertyReport_new_york.csv for the state New York has 4 inside.
 File name: PovertyReport_Washington.csv for the state Washington has 4 inside.
 File name: PovertyReport_Kentucky.csv for the state Kentucky has 4 inside.
 File name: PovertyReport_Hawaii.csv for the state Hawaii has 4 inside.
 File name: PovertyReport_Delaware.csv for the state Delaware has 4 inside.
 File name: PovertyReport_Pennsylvania.csv for the state Pennsylvania has 4 inside.
 File name: PovertyReport_Louisiana.csv for the state Louisiana has 4 inside.
 File name: PovertyReport_Alabama.csv for the state Alabama has 4 inside.
 File name: PovertyReport_Texas.csv for the state Texas has 4 inside.
 File name: PovertyReport_Arizona.csv for the state Arizona has 4 inside.
 File name: PovertyReport_new_Mexico.csv for the state New Mexico has 4 inside.
 File name: PovertyReport_California.csv for the state California has 4 inside.
 File name: PovertyReport_Iowa.csv for the state Iowa has 4 inside.
 File name: PovertyReport_Connecticut.csv for the state Connecticut has 4 inside.

In [13]:
master_row_count * 2

6284

In [14]:
master_df.shape

(6284, 13)

In [15]:
master_df.head(3)

,Textbox105,Textbox106,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
139,All people in poverty (2019),Children ages 0-17 in poverty (2019),28001,Adams,5,27.9,22.2,33.6,40.8,30.3,51.3,percent,Mississippi
140,All people in poverty (2019),Children ages 0-17 in poverty (2019),28003,Alcorn,7,17.3,13.6,21.0,23.7,16.5,30.9,percent,Mississippi
141,All people in poverty (2019),Children ages 0-17 in poverty (2019),28005,Amite,8,20.9,16.4,25.4,29.1,20.3,37.9,percent,Mississippi

## Clean up DataFrame
<hr>

In [16]:
# Clean up master_df 
master_df.drop(columns = ['Textbox105', 'Textbox106'], inplace = True)
master_df

,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
139,28001,Adams,5,27.9,22.2,33.6,40.8,30.3,51.3,percent,Mississippi
140,28003,Alcorn,7,17.3,13.6,21.0,23.7,16.5,30.9,percent,Mississippi
141,28005,Amite,8,20.9,16.4,25.4,29.1,20.3,37.9,percent,Mississippi
142,28007,Attala,6,24.1,19.3,28.9,35.0,25.9,44.1,percent,Mississippi
143,28009,Benton,1,20.7,15.4,26.0,31.1,20.9,41.3,percent,Mississippi
...,...,...,...,...,...,...,...,...,...,...,...
78,09007,Middlesex,1,"11,024","9,322","12,726","1,996","1,466","2,526",numbers,Connecticut
79,09009,New Haven,2,"99,423","91,433","107,413","31,191","27,785","34,597",numbers,Connecticut
80,09011,New London,2,"19,739","16,173","23,305","5,774","4,340","7,208",numbers,Connecticut
81,09013,Tolland,1,"10,559","8,739","12,379","1,614","1,130","2,098",numbers,Connecticut
82,09015,Windham,2,"12,874","10,961","14,787","3,110","2,236","3,984",numbers,Connecticut

# Sanity Check
<hr>

In [17]:
for each_state in master_df['state'].unique():
    stats_master_list.remove(each_state)

In [18]:
# items missing from dataset
stats_master_list

['Puerto Rico']

In [19]:
# number of states inculuded in data set
master_df['state'].nunique()

51

## EDA
<hr>

<br>

In [20]:
master_df.shape

(6284, 11)

In [21]:
master_df.head()

,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
139,28001,Adams,5,27.9,22.2,33.6,40.8,30.3,51.3,percent,Mississippi
140,28003,Alcorn,7,17.3,13.6,21.0,23.7,16.5,30.9,percent,Mississippi
141,28005,Amite,8,20.9,16.4,25.4,29.1,20.3,37.9,percent,Mississippi
142,28007,Attala,6,24.1,19.3,28.9,35.0,25.9,44.1,percent,Mississippi
143,28009,Benton,1,20.7,15.4,26.0,31.1,20.9,41.3,percent,Mississippi

In [22]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6284 entries, 139 to 82
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fips                  6284 non-null   object
 1   county                6284 non-null   object
 2   ruc_code              6284 non-null   object
 3   total_all_people      6282 non-null   object
 4   total_all_people_min  6282 non-null   object
 5   total_all_people_max  6282 non-null   object
 6   under18               6282 non-null   object
 7   under18_min           6282 non-null   object
 8   under18_max           6282 non-null   object
 9   type                  6284 non-null   object
 10  state                 6284 non-null   object
dtypes: object(11)
memory usage: 589.1+ KB

## Seporating into number and Percent

Because TYPE = 'numbers' has commas separting the values, I have created a separate 'percent_df' dataframe, and exported these values out to in workable CSV.
<hr>

In [53]:
percent_df = master_df[ master_df['type'] == 'percent']
number_df = master_df[ master_df['type'] == 'numbers']
percent_df.reset_index(drop = True, inplace = True)
number_df.reset_index(drop = True, inplace = True)

In [51]:
number_df.head(3)

,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
223,28001,Adams,5,"7,891","6,280","9,502","2,444","1,818","3,070",numbers,Mississippi
224,28003,Alcorn,7,"6,251","4,901","7,601","1,928","1,344","2,512",numbers,Mississippi
225,28005,Amite,8,"2,537","1,990","3,084",711,495,927,numbers,Mississippi

In [52]:
percent_df.head(3)

,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
0,28001,Adams,5,27.9,22.2,33.6,40.8,30.3,51.3,percent,Mississippi
1,28003,Alcorn,7,17.3,13.6,21.0,23.7,16.5,30.9,percent,Mississippi
2,28005,Amite,8,20.9,16.4,25.4,29.1,20.3,37.9,percent,Mississippi

In [25]:
percent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fips                  3142 non-null   object
 1   county                3142 non-null   object
 2   ruc_code              3142 non-null   object
 3   total_all_people      3141 non-null   object
 4   total_all_people_min  3141 non-null   object
 5   total_all_people_max  3141 non-null   object
 6   under18               3141 non-null   object
 7   under18_min           3141 non-null   object
 8   under18_max           3141 non-null   object
 9   type                  3142 non-null   object
 10  state                 3142 non-null   object
dtypes: object(11)
memory usage: 270.1+ KB

In [24]:
master_df.columns

Index(['fips', 'county', 'ruc_code', 'total_all_people',
       'total_all_people_min', 'total_all_people_max', 'under18',
       'under18_min', 'under18_max', 'type', 'state'],
      dtype='object')

In [26]:
# Convert pecent dataframe into int
percent_df[['fips','total_all_people',
       'total_all_people_min', 
       'total_all_people_max', 'under18',
       'under18_min', 'under18_max',]] = percent_df[['fips','total_all_people',
                                                    'total_all_people_min', 'total_all_people_max', 'under18',
                                                        'under18_min', 'under18_max',]].apply(pd.to_numeric)

/Users/metamorphosis/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [27]:
percent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fips                  3142 non-null   int64
 1   county                3142 non-null   object
 2   ruc_code              3142 non-null   object
 3   total_all_people      3141 non-null   float64
 4   total_all_people_min  3141 non-null   float64
 5   total_all_people_max  3141 non-null   float64
 6   under18               3141 non-null   float64
 7   under18_min           3141 non-null   float64
 8   under18_max           3141 non-null   float64
 9   type                  3142 non-null   object
 10  state                 3142 non-null   object
dtypes: float64(6), int64(1), object(4)
memory usage: 270.1+ KB

# NaNs
<hr>

In [28]:
# NaNs in file 
percent_df.isna().sum()

fips                    0
county                  0
ruc_code                0
total_all_people        1
total_all_people_min    1
total_all_people_max    1
under18                 1
under18_min             1
under18_max             1
type                    0
state                   0
dtype: int64

In [36]:
percent_df[ percent_df['total_all_people'].isnull()]

,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
2471,15005,Kalawao,3,NaN,NaN,NaN,NaN,NaN,NaN,percent,Hawaii

In [45]:
# identify Nans in FIPS row 
nan_rows = percent_df[ percent_df['total_all_people'].isnull()].index
nan_rows

Int64Index([2471], dtype='int64')

In [46]:
print(len(nan_rows))

1

In [54]:
# remove rows with all Nans
percent_df.drop(nan_rows, inplace = True)

/Users/metamorphosis/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [55]:
# NaNs in file 
percent_df.isna().sum()

fips                    0
county                  0
ruc_code                0
total_all_people        0
total_all_people_min    0
total_all_people_max    0
under18                 0
under18_min             0
under18_max             0
type                    0
state                   0
dtype: int64

# Write to CSV
<hr>

In [56]:
percent_df.to_csv('../data/USDA/USDA_poverty_percent_2019.csv', index=False)

# EDA
<hr>

In [57]:
percent_df

,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
0,28001,Adams,5,27.9,22.2,33.6,40.8,30.3,51.3,percent,Mississippi
1,28003,Alcorn,7,17.3,13.6,21.0,23.7,16.5,30.9,percent,Mississippi
2,28005,Amite,8,20.9,16.4,25.4,29.1,20.3,37.9,percent,Mississippi
3,28007,Attala,6,24.1,19.3,28.9,35.0,25.9,44.1,percent,Mississippi
4,28009,Benton,1,20.7,15.4,26.0,31.1,20.9,41.3,percent,Mississippi
...,...,...,...,...,...,...,...,...,...,...,...
3137,09007,Middlesex,1,7.0,5.9,8.1,7.2,5.3,9.1,percent,Connecticut
3138,09009,New Haven,2,12.0,11.0,13.0,18.5,16.5,20.5,percent,Connecticut
3139,09011,New London,2,7.8,6.4,9.2,11.6,8.7,14.5,percent,Connecticut
3140,09013,Tolland,1,7.8,6.5,9.1,6.3,4.4,8.2,percent,Connecticut
3141,09015,Windham,2,11.5,9.8,13.2,14.0,10.1,17.9,percent,Connecticut

In [58]:
percent_df.shape

(3141, 11)