# US Education Report
<hr>

In [74]:
import pandas as pd 
import os

# Data

### US Education Report



Economic Research Service  
U.S. Department of Agriculture  
link:

## Constants
<hr>

In [75]:
states_master_list = ['Vermont',
 'Mississippi',
 'Maine',
 'Montana',
 'Washington',
 'District of Columbia',
 'Texas',
 'Alabama',
 'Michigan',
 'Maryland',
 'Rhode Island',
 'South Dakota',
 'Nebraska',
 'Virginia',
 'Florida',
 'Utah',
 'Louisiana',
 'Missouri',
 'Massachusetts',
 'South Carolina',
 'Pennsylvania',
 'Tennessee',
 'Minnesota',
 'Idaho',
 'Alaska',
 'Oklahoma',
 'North Dakota',
 'Arkansas',
 'Georgia',
 'New Hampshire',
 'Indiana',
 'Puerto Rico',
 'New Jersey',
 'Delaware',
 'West Virginia',
 'Colorado',
 'New York',
 'Kansas',
 'Arizona',
 'Ohio',
 'Hawaii',
 'Illinois',
 'Oregon',
 'North Carolina',
 'California',
 'Kentucky',
 'Wyoming',
 'Iowa',
 'Nevada',
 'Connecticut',
 'Wisconsin',
 'New Mexico']

In [76]:
columns = ['FIPS','Name','2013 Rural-urban Continuum Code*','1970','1980', '1990','2000','2015-2019']

## Function
<hr>

In [77]:
"""
Duplicate check 3
from 
https://thispointer.com/python-3-ways-to-check-if-there-are-duplicates-in-a-list/
"""
def checkIfDuplicates_3(listOfElems):
    ''' Check if given list contains any duplicates '''    
    for elem in listOfElems:
        if listOfElems.count(elem) > 1:
            return True
    return False

In [78]:
"""

 Create master DataFrame

"""    

def concat_csv(path, files):
    # create master file 
    master_df = pd.DataFrame(columns = columns)
    state_name_list = []

    # LOOP 
    for file in files:
        # read excel file
        _df = pd.read_excel(path+file, skiprows=2)
        # read state_name
        state_name = _df.iloc[0,1]


    # DROP
        #drop row 0
        _df.drop(0, inplace = True)

        # Drop last 2 rows 
        _df.drop(_df.tail(1).index, inplace = True)

        # work around to drop NaN column 
        _temp_df = _df.iloc[:,0:7]

        # work around to drop NaN column 
        _temp_df['2015-2019'] = _df['2015-2019']

    # add Column for STATE name
        # add state column 
        _temp_df['state'] = state_name
        state_name_list.append(state_name)

        # Concat 
        master_df = pd.concat([master_df, _temp_df])
        print(state_name+' '+file)
    return master_df, state_name_list

## Completing College
<hr>

In [79]:
path_college = "../data_raw/USDA_education/completing_college/"

In [80]:
files = os.listdir(path_college)
files.remove(".DS_Store")

In [81]:
# files

In [82]:
# run function 
#
completing_college_df, completing_college_state_list = concat_csv(path_college, files)

Arizona EducationReport (2).xlsx
Tennessee EducationReport (42).xlsx
Minnesota EducationReport (23).xlsx
Massachusetts EducationReport (21).xlsx
Pennsylvania EducationReport (38).xlsx
South Carolina EducationReport (40).xlsx
California EducationReport (4).xlsx
Utah EducationReport (44).xlsx
Missouri EducationReport (25).xlsx
Louisiana EducationReport (18).xlsx
Nebraska EducationReport (27).xlsx
Connecticut EducationReport (6).xlsx
Virginia EducationReport (46).xlsx
Maryland EducationReport (20).xlsx
South Dakota EducationReport (41).xlsx
Alaska EducationReport (1).xlsx
Rhode Island EducationReport (39).xlsx
Texas EducationReport (43).xlsx
Arkansas EducationReport (3).xlsx
Michigan EducationReport (22).xlsx
Montana EducationReport (26).xlsx
Washington EducationReport (47).xlsx
Delaware EducationReport (7).xlsx
Alabama EducationReport.xlsx
Vermont EducationReport (45).xlsx
Colorado EducationReport (5).xlsx
Maine EducationReport (19).xlsx
Mississippi EducationReport (24).xlsx
Nevada EducationReport (28).xlsx
Iowa EducationReport (15).xlsx
Wyoming EducationReport (50).xlsx
New Mexico EducationReport (31).xlsx
Wisconsin EducationReport (49).xlsx
Florida EducationReport (9).xlsx
North Carolina EducationReport (33).xlsx
Kentucky EducationReport (17).xlsx
Illinois EducationReport (13).xlsx
Oregon EducationReport (37).xlsx
Ohio EducationReport (35).xlsx
Hawaii EducationReport (11).xlsx
New York EducationReport (32).xlsx
Kansas EducationReport (16).xlsx
Indiana EducationReport (14).xlsx
New Hampshire EducationReport (29).xlsx
District of Columbia EducationReport (8).xlsx
West Virginia EducationReport (48).xlsx
New Jersey EducationReport (30).xlsx
North Dakota EducationReport (34).xlsx
Georgia EducationReport (10).xlsx
Idaho EducationReport (12).xlsx
Oklahoma EducationReport (36).xlsx

In [83]:
# rest Index 
completing_college_df.reset_index(inplace = True, drop = True)

In [84]:
completing_college_df.shape

(3226, 9)

## Remove rows with all nan's in FIPS column

In [85]:
# identify Nans in FIPS row 
nan_rows_a = completing_college_df[completing_college_df['FIPS'].isnull()].index
print(len(nan_rows_a))

80

In [86]:
# remove rows with all Nans
completing_college_df.drop(nan_rows_a, inplace = True)

## Sanity Check
<hr>

In [87]:
# checks if there are duplicates in state list
checkIfDuplicates_3(completing_college_state_list)

False

In [88]:
for state in completing_college_state_list:
    states_master_list.remove(state)

In [89]:
states_master_list

['Puerto Rico']

In [90]:
len(completing_college_state_list)

51

In [91]:
completing_college_df.head(2)

,FIPS,Name,2013 Rural-urban Continuum Code*,1970,1980,1990,2000,2015-2019,state
0,04001,"Apache, AZ",6.0,0.082360,0.104108,0.084963,0.113483,0.123006,Arizona
1,04003,"Cochise, AZ",3.0,0.107439,0.138265,0.160869,0.188020,0.231096,Arizona

<br>

## Completing Some College
<hr>

In [92]:
# files managment
path_some_college = "../data_raw//USDA_education/completing_some_college/"
files = os.listdir(path_some_college)
files.remove(".DS_Store")

# run function 
#
some_college_df, some_college_state_list = concat_csv(path_some_college, files)
# rest Index 
some_college_df.reset_index(inplace = True, drop = True)

Arizona EducationReport (2).xlsx
Tennessee EducationReport (42).xlsx
Minnesota EducationReport (23).xlsx
Massachusetts EducationReport (21).xlsx
Pennsylvania EducationReport (38).xlsx
South Carolina EducationReport (40).xlsx
California EducationReport (4).xlsx
Utah EducationReport (44).xlsx
Missouri EducationReport (25).xlsx
Louisiana EducationReport (18).xlsx
Nebraska EducationReport (27).xlsx
Connecticut EducationReport (6).xlsx
Washington EducationReport (46).xlsx
Maryland EducationReport (20).xlsx
South Dakota EducationReport (41).xlsx
Alaska EducationReport (1).xlsx
Rhode Island EducationReport (39).xlsx
Texas EducationReport (43).xlsx
Arkansas EducationReport (3).xlsx
Michigan EducationReport (22).xlsx
Montana EducationReport (26).xlsx
West Virginia EducationReport (47).xlsx
Delaware EducationReport (7).xlsx
Alabama EducationReport.xlsx
Vermont EducationReport (45).xlsx
Colorado EducationReport (5).xlsx
Maine EducationReport (19).xlsx
Mississippi EducationReport (24).xlsx
Nevada EducationReport (28).xlsx
Iowa EducationReport (15).xlsx
Virginia EducationReport (50).xlsx
New Mexico EducationReport (31).xlsx
Wyoming EducationReport (49).xlsx
Florida EducationReport (9).xlsx
North Carolina EducationReport (33).xlsx
Kentucky EducationReport (17).xlsx
Illinois EducationReport (13).xlsx
Oregon EducationReport (37).xlsx
Ohio EducationReport (35).xlsx
Hawaii EducationReport (11).xlsx
New York EducationReport (32).xlsx
Kansas EducationReport (16).xlsx
Indiana EducationReport (14).xlsx
New Hampshire EducationReport (29).xlsx
District of Columbia EducationReport (8).xlsx
Wisconsin EducationReport (48).xlsx
New Jersey EducationReport (30).xlsx
North Dakota EducationReport (34).xlsx
Georgia EducationReport (10).xlsx
Idaho EducationReport (12).xlsx
Oklahoma EducationReport (36).xlsx

In [93]:
some_college_df.shape

(3226, 9)

## Remove rows with all nan's in FIPS column
<hr>

In [94]:
# identify Nans in FIPS row 
nan_rows_b = some_college_df[some_college_df['FIPS'].isnull()].index
print(len(nan_rows_b))

80

In [95]:
# remove rows with all Nans
some_college_df.drop(nan_rows_b, inplace = True)

## Sanity Check
<hr>

In [96]:
# checks if there are duplicates in state list
checkIfDuplicates_3(some_college_state_list)

False

In [97]:
len(some_college_state_list)

51

In [98]:
#for state in some_college_state_list:
#    states_master_list.remove(state)
#states_master_list

In [99]:
states_master_list

['Puerto Rico']

In [100]:
some_college_df.shape

(3146, 9)

In [101]:
some_college_df.head(2)

,FIPS,Name,2013 Rural-urban Continuum Code*,1970,1980,1990,2000,2015-2019,state
0,04001,"Apache, AZ",6.0,0.068847,0.139753,0.206339,0.274263,0.358629,Arizona
1,04003,"Cochise, AZ",3.0,0.118189,0.202221,0.329038,0.360203,0.401705,Arizona

## Completing High School Only 
<hr>

In [102]:
# files managment
path_high_school_only = "../data_raw/USDA_education/completing_high_school_only/"
files = os.listdir(path_high_school_only)
#files.remove(".DS_Store")

# run function 
#
high_school_only_df, high_school_only_state_list = concat_csv(path_high_school_only, files)
# rest Index 
high_school_only_df.reset_index(inplace = True, drop = True)

Arizona EducationReport (2).xlsx
Tennessee EducationReport (42).xlsx
Minnesota EducationReport (23).xlsx
Massachusetts EducationReport (21).xlsx
Pennsylvania EducationReport (38).xlsx
South Carolina EducationReport (40).xlsx
California EducationReport (4).xlsx
Utah EducationReport (44).xlsx
Missouri EducationReport (25).xlsx
Louisiana EducationReport (18).xlsx
Nebraska EducationReport (27).xlsx
Connecticut EducationReport (6).xlsx
Virginia EducationReport (46).xlsx
Maryland EducationReport (20).xlsx
South Dakota EducationReport (41).xlsx
Alaska EducationReport (1).xlsx
Rhode Island EducationReport (39).xlsx
Texas EducationReport (43).xlsx
Arkansas EducationReport (3).xlsx
Michigan EducationReport (22).xlsx
Montana EducationReport (26).xlsx
Washington EducationReport (47).xlsx
Delaware EducationReport (7).xlsx
Alabama EducationReport.xlsx
Vermont EducationReport (45).xlsx
Colorado EducationReport (5).xlsx
Maine EducationReport (19).xlsx
Mississippi EducationReport (24).xlsx
Nevada EducationReport (28).xlsx
Iowa EducationReport (15).xlsx
Wyoming EducationReport (50).xlsx
New Mexico EducationReport (31).xlsx
Wisconsin EducationReport (49).xlsx
Florida EducationReport (9).xlsx
North Carolina EducationReport (33).xlsx
Kentucky EducationReport (17).xlsx
Illinois EducationReport (13).xlsx
Oregon EducationReport (37).xlsx
Ohio EducationReport (35).xlsx
Hawaii EducationReport (11).xlsx
New York EducationReport (32).xlsx
Kansas EducationReport (16).xlsx
Indiana EducationReport (14).xlsx
New Hampshire EducationReport (29).xlsx
District of Columbia EducationReport (8).xlsx
West Virginia EducationReport (48).xlsx
New Jersey EducationReport (30).xlsx
North Dakota EducationReport (34).xlsx
Georgia EducationReport (10).xlsx
Idaho EducationReport (12).xlsx
Oklahoma EducationReport (36).xlsx

In [103]:
high_school_only_df.shape

(3226, 9)

## Remove rows with all nan's in FIPS column
<hr>

In [104]:
# identify Nans in FIPS row 
nan_rows_c = high_school_only_df[high_school_only_df['FIPS'].isnull()].index
print(len(nan_rows_c))

80

In [105]:
# remove rows with all Nans
high_school_only_df.drop(nan_rows_c, inplace = True)

## Sanity Check
<hr>

In [106]:
# checks if there are duplicates in state list
checkIfDuplicates_3(high_school_only_state_list)

False

In [107]:
len(high_school_only_state_list)

51

In [108]:
#for state in high_school_only_state_list:

#    states_master_list.remove(state)
#states_master_list

In [109]:
high_school_only_df.shape

(3146, 9)

In [110]:
high_school_only_df.head()

,FIPS,Name,2013 Rural-urban Continuum Code*,1970,1980,1990,2000,2015-2019,state
0,04001,"Apache, AZ",6.0,0.188709,0.249113,0.255260,0.248723,0.322388,Arizona
1,04003,"Cochise, AZ",3.0,0.332967,0.347534,0.267140,0.246391,0.241034,Arizona
2,04005,"Coconino, AZ",3.0,0.272979,0.303674,0.237648,0.216427,0.220390,Arizona
3,04007,"Gila, AZ",4.0,0.303302,0.383167,0.320344,0.286970,0.278541,Arizona
4,04009,"Graham, AZ",7.0,0.250000,0.324168,0.277476,0.301057,0.287227,Arizona

## Not Completing High School
<hr>

In [111]:
# files managment
path_not_completing_HS = "../data_raw/USDA_education/not_completing_high_school/"
files = os.listdir(path_not_completing_HS)
#files.remove(".DS_Store")

# run function 
#
not_completing_HS_df, not_completing_HS_state_list = concat_csv(path_not_completing_HS, files)
# rest Index 
not_completing_HS_df.reset_index(inplace = True, drop = True)

Arizona EducationReport (2).xlsx
Tennessee EducationReport (42).xlsx
Minnesota EducationReport (23).xlsx
Massachusetts EducationReport (21).xlsx
Pennsylvania EducationReport (38).xlsx
South Carolina EducationReport (40).xlsx
California EducationReport (4).xlsx
Utah EducationReport (44).xlsx
Missouri EducationReport (25).xlsx
Louisiana EducationReport (18).xlsx
Nebraska EducationReport (27).xlsx
Connecticut EducationReport (6).xlsx
Virginia EducationReport (46).xlsx
Maryland EducationReport (20).xlsx
South Dakota EducationReport (41).xlsx
Alaska EducationReport (1).xlsx
Rhode Island EducationReport (39).xlsx
Texas EducationReport (43).xlsx
Arkansas EducationReport (3).xlsx
Michigan EducationReport (22).xlsx
Montana EducationReport (26).xlsx
Washington EducationReport (47).xlsx
Delaware EducationReport (7).xlsx
Alabama EducationReport.xlsx
Vermont EducationReport (45).xlsx
Colorado EducationReport (5).xlsx
Maine EducationReport (19).xlsx
Mississippi EducationReport (24).xlsx
Nevada EducationReport (28).xlsx
Iowa EducationReport (15).xlsx
Wyoming EducationReport (50).xlsx
New Mexico EducationReport (31).xlsx
Wisconsin EducationReport (49).xlsx
Florida EducationReport (9).xlsx
North Carolina EducationReport (33).xlsx
Kentucky EducationReport (17).xlsx
Illinois EducationReport (13).xlsx
Oregon EducationReport (37).xlsx
Ohio EducationReport (35).xlsx
Hawaii EducationReport (11).xlsx
New York EducationReport (32).xlsx
Kansas EducationReport (16).xlsx
Indiana EducationReport (14).xlsx
New Hampshire EducationReport (29).xlsx
District of Columbia EducationReport (8).xlsx
West Virginia EducationReport (48).xlsx
New Jersey EducationReport (30).xlsx
North Dakota EducationReport (34).xlsx
Georgia EducationReport (10).xlsx
Idaho EducationReport (12).xlsx
Oklahoma EducationReport (36).xlsx

In [112]:
not_completing_HS_df.shape

(3226, 9)

## Remove rows with all nan's in FIPS column
<hr>

In [113]:
# identify Nans in FIPS row 
nan_rows_d = not_completing_HS_df[not_completing_HS_df['FIPS'].isnull()].index
print(len(nan_rows_d))

80

In [114]:
# remove rows with all Nans
not_completing_HS_df.drop(nan_rows_d, inplace = True)

## Sanity Check
<hr>

In [115]:
# checks if there are duplicates in state list
checkIfDuplicates_3(not_completing_HS_state_list)

False

In [116]:
len(not_completing_HS_state_list)

51

In [117]:
#for state in high_school_only_state_list:

#    states_master_list.remove(state)
#states_master_list

In [118]:
not_completing_HS_df.shape

(3146, 9)

In [119]:
not_completing_HS_df.head()

,FIPS,Name,2013 Rural-urban Continuum Code*,1970,1980,1990,2000,2015-2019,state
0,04001,"Apache, AZ",6.0,0.660083,0.507026,0.453439,0.363531,0.195978,Arizona
1,04003,"Cochise, AZ",3.0,0.441405,0.311980,0.242953,0.205387,0.126165,Arizona
2,04005,"Coconino, AZ",3.0,0.417483,0.256077,0.209596,0.162241,0.094800,Arizona
3,04007,"Gila, AZ",4.0,0.537534,0.383306,0.318899,0.217752,0.136740,Arizona
4,04009,"Graham, AZ",7.0,0.527388,0.394518,0.324080,0.244223,0.147431,Arizona

<br>

In [120]:
completing_college_df.columns

Index(['FIPS', 'Name', '2013 Rural-urban Continuum Code*', '1970', '1980',
       '1990', '2000', '2015-2019', 'state'],
      dtype='object')

In [121]:
completing_college_df.head(2)

,FIPS,Name,2013 Rural-urban Continuum Code*,1970,1980,1990,2000,2015-2019,state
0,04001,"Apache, AZ",6.0,0.082360,0.104108,0.084963,0.113483,0.123006,Arizona
1,04003,"Cochise, AZ",3.0,0.107439,0.138265,0.160869,0.188020,0.231096,Arizona

## Preping to Merge

In [122]:
completing_college_df['FIPS'].nunique()

3145

In [123]:
completing_college_df.shape

(3146, 9)

In [124]:
some_college_df['FIPS'].nunique()

3145

In [125]:
some_college_df.shape

(3146, 9)

In [126]:
high_school_only_df['FIPS'].nunique()

3145

In [127]:
high_school_only_df.shape

(3146, 9)

In [128]:
not_completing_HS_df['FIPS'].nunique()

3145

In [129]:
not_completing_HS_df.shape

(3146, 9)

In [130]:
not_completing_HS_df['FIPS']

0       04001
1       04003
2       04005
3       04007
4       04009
        ...
3219    40145
3220    40147
3221    40149
3222    40151
3223    40153
Name: FIPS, Length: 3146, dtype: object

In [131]:
not_completing_HS_df.tail()

,FIPS,Name,2013 Rural-urban Continuum Code*,1970,1980,1990,2000,2015-2019,state
3219,40145,"Wagoner, OK",2.0,0.596901,0.367328,0.252619,0.187071,0.093976,Oklahoma
3220,40147,"Washington, OK",4.0,0.321344,0.249025,0.204306,0.147516,0.096118,Oklahoma
3221,40149,"Washita, OK",7.0,0.555511,0.391588,0.333552,0.202811,0.099430,Oklahoma
3222,40151,"Woods, OK",7.0,0.454235,0.332008,0.239156,0.172868,0.102244,Oklahoma
3223,40153,"Woodward, OK",7.0,0.481869,0.332663,0.266208,0.200801,0.122538,Oklahoma

<br>

# Merge
<hr>

In [132]:
#  4 dataFrames, all of them include the entire USA (no Porto Rico)
#  Each dataframe is a different elevel of with a different education level
#
# I AM 
#      Merging on " completing_college_df "
#      Dropping from all other DF 'Name', '2013 Rural-urban Continuum Code*','state', '1970', '1980','1990','2000'
#
#      keeping only column '2015-2019' and 'FIPS' for key

#### Drop & Rename

In [133]:
#drop
some_college_df.drop(columns = ['Name', '2013 Rural-urban Continuum Code*','state',
                               '1970', '1980','1990','2000'], inplace = True)

In [134]:
# drop 
high_school_only_df.drop(columns = ['Name', '2013 Rural-urban Continuum Code*','state'
                                   ,'1970', '1980','1990','2000'], inplace = True)
# rename
high_school_only_df.rename(columns = {'2015-2019':'2015-2019_HS_only'}, inplace = True)

In [135]:
# drop 
not_completing_HS_df.drop(columns = ['Name', '2013 Rural-urban Continuum Code*','state'
                                     ,'1970', '1980','1990','2000'], inplace = True)
# rename
not_completing_HS_df.rename(columns = {'2015-2019':'2015-2019_not_HS'}, inplace = True)

#### Merge

In [136]:
# some_college_df
master_df = completing_college_df.merge(some_college_df, on='FIPS', how='left',
                            suffixes=('_completing_college', '_some_college'))

In [137]:
# high_school_only_df
master_df = master_df.merge(high_school_only_df, on='FIPS', how='left')

In [138]:
# high_school_only_df
master_df = master_df.merge(not_completing_HS_df, on='FIPS', how='left',)

In [139]:
# dropping '1970','1980','1990','2000' from master
master_df.drop(['1970','1980','1990','2000'], axis = 1, inplace = True)

In [140]:
# List of final columns
master_df.columns

Index(['FIPS', 'Name', '2013 Rural-urban Continuum Code*',
       '2015-2019_completing_college', 'state', '2015-2019_some_college',
       '2015-2019_HS_only', '2015-2019_not_HS'],
      dtype='object')

<br>

<br><hr><br>

In [ ]:
#

In [145]:
master_df.shape

(3160, 8)

In [142]:
master_df.head(2)

,FIPS,Name,2013 Rural-urban Continuum Code*,2015-2019_completing_college,state,2015-2019_some_college,2015-2019_HS_only,2015-2019_not_HS
0,04001,"Apache, AZ",6.0,0.123006,Arizona,0.358629,0.322388,0.195978
1,04003,"Cochise, AZ",3.0,0.231096,Arizona,0.401705,0.241034,0.126165

### FIPS
<hr>

In [151]:
fips_list = set(master_df['FIPS'])

In [152]:
len(fips_list)

3145

# NAN's
<>

In [67]:
master_df.isna().sum()

FIPS                                 0
Name                                 0
2013 Rural-urban Continuum Code*    13
2015-2019_completing_college        16
state                                0
2015-2019_some_college              16
2015-2019_HS_only                   16
2015-2019_not_HS                    16
dtype: int64

In [68]:
master_df[master_df['2015-2019_HS_only'].isnull()]

,FIPS,Name,2013 Rural-urban Continuum Code*,2015-2019_completing_college,state,2015-2019_some_college,2015-2019_HS_only,2015-2019_not_HS
787,51515,"Bedford, VA",2.0,NaN,Virginia,NaN,NaN,NaN
792,51560,"Clifton Forge, VA",NaN,NaN,Virginia,NaN,NaN,NaN
906,46113,"Shannon, SD",6.0,NaN,South Dakota,NaN,NaN,NaN
917,02010,"Aleutian Islands, AK",NaN,NaN,Alaska,NaN,NaN,NaN
937,02201,"Prince of Wales-Outer Ketchikan, AK",NaN,NaN,Alaska,NaN,NaN,NaN
939,02232,"Skagway-Hoonah-Angoon, AK",NaN,NaN,Alaska,NaN,NaN,NaN
942,02270,"Wade Hampton, AK",9.0,NaN,Alaska,NaN,NaN,NaN
943,02280,"Wrangell-Petersburg, AK",NaN,NaN,Alaska,NaN,NaN,NaN
1990,12086,"Miami-Dade, FL",NaN,NaN,Florida,NaN,NaN,NaN
1991,12086,"Miami-Dade, FL",NaN,NaN,Florida,NaN,NaN,0.185519
1994,12086,"Miami-Dade, FL",NaN,NaN,Florida,0.243828,NaN,NaN
1995,12086,"Miami-Dade, FL",NaN,NaN,Florida,0.243828,NaN,0.185519
1998,12086,"Miami-Dade, FL",1.0,0.297856,Florida,NaN,NaN,NaN
1999,12086,"Miami-Dade, FL",1.0,0.297856,Florida,NaN,NaN,0.185519
2002,12086,"Miami-Dade, FL",1.0,0.297856,Florida,0.243828,NaN,NaN
2003,12086,"Miami-Dade, FL",1.0,0.297856,Florida,0.243828,NaN,0.185519