# US Poverty data by county for 2019
<hr>

In [2]:
import pandas as pd
import os
import re

# Data

### US Poverty data by county for 2019

Economic Research Service  
U.S. Department of Agriculture  
link: https://data.ers.usda.gov/reports.aspx?ID=17826

| Columns             | Description          |
| -----------         | -----------          |
| fips                | FIPS CODE            |
| county              | County within state        |
| State               | State                   |
| ruc_code            | ruc_code             |
| total_all_people'      | Totals All people in poverty (2019)              |
| total_all_people_min | 90% confidence interval of estimate  Lower Bound, All People |
| total_all_people_max | 90% confidence interval of estimate  Upper Bound, All People |
| under18_pct         | Totals Children ages 0-17 in poverty (2019)                  |
| under18_min         | 90% confidence interval of estimate, Children ages 0-17      |
| under18_max         | 90% confidence interval of estimate, Children ages 0-17      |
| type                | count or percent

## Constants
<hr>

In [3]:
stats_master_list = ['Vermont',
 'Mississippi',
 'Maine',
 'Montana',
 'Washington',
 'District of Columbia',
 'Texas',
 'Alabama',
 'Michigan',
 'Maryland',
 'Rhode Island',
 'South Dakota',
 'Nebraska',
 'Virginia',
 'Florida',
 'Utah',
 'Louisiana',
 'Missouri',
 'Massachusetts',
 'South Carolina',
 'Pennsylvania',
 'Tennessee',
 'Minnesota',
 'Idaho',
 'Alaska',
 'Oklahoma',
 'North Dakota',
 'Arkansas',
 'Georgia',
 'New Hampshire',
 'Indiana',
 'Puerto Rico',
 'New Jersey',
 'Delaware',
 'West Virginia',
 'Colorado',
 'New York',
 'Kansas',
 'Arizona',
 'Ohio',
 'Hawaii',
 'Illinois',
 'Oregon',
 'North Carolina',
 'California',
 'Kentucky',
 'Wyoming',
 'Iowa',
 'Nevada',
 'Connecticut',
 'Wisconsin',
 'New Mexico']

In [9]:
columns = ['Textbox105', 'Textbox106', 'fips', 'county', 'ruc_code',
       'total_all_people', 'total_all_people_min', 'total_all_people_max',
       'under18', 'under18_min', 'under18_max', 'type',
       'state']

## File managment
<hr>

In [10]:
#os.chdir('../codeathon/data-overlook/USDA_gov-Poverty/')

In [19]:
files = os.listdir("../data_raw/USDA_gov-Poverty/")

In [20]:
# remove mac file 
files.remove(".DS_Store")

In [21]:
files

['PovertyReport_Mississippi.csv',
 'PovertyReport_Massachusetts.csv',
 'PovertyReport_Florida.csv',
 'PovertyReport_Michigan.csv',
 'PovertyReport_Rhode_Island.csv',
 'PovertyReport_Idaho.csv',
 'PovertyReport_Oregon.csv',
 'PovertyReport_Kansas.csv',
 'PovertyReport_Wyoming.csv',
 'PovertyReport_Georgia.csv',
 'PovertyReport_Nevada.csv',
 'PovertyReport_Maryland.csv',
 'PovertyReport_Alaska.csv',
 'PovertyReport_Ohio.csv',
 'PovertyReport_Wisconsin.csv',
 'PovertyReport_District_of_Columbia.csv',
 'PovertyReport_North_Carolina.csv',
 'PovertyReport_Maine.csv',
 'PovertyReport_Minnesota.csv',
 'PovertyReport_Nebraska.csv',
 'PovertyReport_Indiana.csv',
 'PovertyReport_Arkansas.csv',
 'PovertyReport_Tennessee.csv',
 'PovertyReport_North_Dakota.csv',
 'PovertyReport_West_Virginia.csv',
 'PovertyReport_Montana.csv',
 'PovertyReport_New_Hampshire.csv',
 'PovertyReport_Virginia.csv',
 'PovertyReport_Oklahoma.csv',
 'PovertyReport_Utah.csv',
 'PovertyReport_Colorado.csv',
 'PovertyReport_South_Dakota.csv',
 'PovertyReport_Illinois.csv',
 'PovertyReport_Vermont.csv',
 'PovertyReport_new_Jersey.csv',
 'PovertyReport_South_Carolina.csv',
 'PovertyReport_Missouri.csv',
 'PovertyReport_new_york.csv',
 'PovertyReport_Washington.csv',
 'PovertyReport_Kentucky.csv',
 'PovertyReport_Hawaii.csv',
 'PovertyReport_Delaware.csv',
 'PovertyReport_Pennsylvania.csv',
 'PovertyReport_Louisiana.csv',
 'PovertyReport_Alabama.csv',
 'PovertyReport_Texas.csv',
 'PovertyReport_Arizona.csv',
 'PovertyReport_new_Mexico.csv',
 'PovertyReport_California.csv',
 'PovertyReport_Iowa.csv',
 'PovertyReport_Connecticut.csv']

# Create master DataFrame
<hr>

In [23]:
# Concat 

# create master file 
master_df = pd.DataFrame(columns = columns)

for file in files:
    # read csv to dataframe
    df = pd.read_csv('../data_raw/USDA_gov-Poverty/' +file, names=columns)
    # locate breaks in index
    index_s = df[ df.Textbox105.str.contains(r'Textbox*') == True ].index
    # find anem of stName of state
    state_name = df.iloc[index_s[0]+1,3]
    print(f' File name: {file} for the state {state_name} has {len(index_s)} inside.')
    
    # create dataframe with percent
    percent_df = df.iloc[index_s[0]+2:index_s[1],:].copy()
    percent_df['type'] = 'percent'
    percent_df['state'] = state_name
    
    # create dataframe with numbers
    numbers_df = df.iloc[index_s[1]+2:index_s[2],:].copy()
    numbers_df['type'] = 'numbers'
    numbers_df['state'] = state_name
    
    # CONCAT dataFRAME together
    master_df = pd.concat([master_df, percent_df, numbers_df])

 File name: PovertyReport_Mississippi.csv for the state Mississippi has 4 inside.
 File name: PovertyReport_Massachusetts.csv for the state Massachusetts has 4 inside.
 File name: PovertyReport_Florida.csv for the state Florida has 4 inside.
 File name: PovertyReport_Michigan.csv for the state Michigan has 4 inside.
 File name: PovertyReport_Rhode_Island.csv for the state Rhode Island has 4 inside.
 File name: PovertyReport_Idaho.csv for the state Idaho has 4 inside.
 File name: PovertyReport_Oregon.csv for the state Oregon has 4 inside.
 File name: PovertyReport_Kansas.csv for the state Kansas has 4 inside.
 File name: PovertyReport_Wyoming.csv for the state Wyoming has 4 inside.
 File name: PovertyReport_Georgia.csv for the state Georgia has 4 inside.
 File name: PovertyReport_Nevada.csv for the state Nevada has 4 inside.
 File name: PovertyReport_Maryland.csv for the state Maryland has 4 inside.
 File name: PovertyReport_Alaska.csv for the state Alaska has 4 inside.
 File name: PovertyReport_Ohio.csv for the state Ohio has 4 inside.
 File name: PovertyReport_Wisconsin.csv for the state Wisconsin has 4 inside.
 File name: PovertyReport_District_of_Columbia.csv for the state District of Columbia has 4 inside.
 File name: PovertyReport_North_Carolina.csv for the state North Carolina has 4 inside.
 File name: PovertyReport_Maine.csv for the state Maine has 4 inside.
 File name: PovertyReport_Minnesota.csv for the state Minnesota has 4 inside.
 File name: PovertyReport_Nebraska.csv for the state Nebraska has 4 inside.
 File name: PovertyReport_Indiana.csv for the state Indiana has 4 inside.
 File name: PovertyReport_Arkansas.csv for the state Arkansas has 4 inside.
 File name: PovertyReport_Tennessee.csv for the state Tennessee has 4 inside.
 File name: PovertyReport_North_Dakota.csv for the state North Dakota has 4 inside.
 File name: PovertyReport_West_Virginia.csv for the state West Virginia has 4 inside.
 File name: PovertyReport_Montana.csv for the state Montana has 4 inside.
 File name: PovertyReport_New_Hampshire.csv for the state New Hampshire has 4 inside.
 File name: PovertyReport_Virginia.csv for the state Virginia has 4 inside.
 File name: PovertyReport_Oklahoma.csv for the state Oklahoma has 4 inside.
 File name: PovertyReport_Utah.csv for the state Utah has 4 inside.
 File name: PovertyReport_Colorado.csv for the state Colorado has 4 inside.
 File name: PovertyReport_South_Dakota.csv for the state South Dakota has 4 inside.
 File name: PovertyReport_Illinois.csv for the state Illinois has 4 inside.
 File name: PovertyReport_Vermont.csv for the state Vermont has 4 inside.
 File name: PovertyReport_new_Jersey.csv for the state New Jersey has 4 inside.
 File name: PovertyReport_South_Carolina.csv for the state South Carolina has 4 inside.
 File name: PovertyReport_Missouri.csv for the state Missouri has 4 inside.
 File name: PovertyReport_new_york.csv for the state New York has 4 inside.
 File name: PovertyReport_Washington.csv for the state Washington has 4 inside.
 File name: PovertyReport_Kentucky.csv for the state Kentucky has 4 inside.
 File name: PovertyReport_Hawaii.csv for the state Hawaii has 4 inside.
 File name: PovertyReport_Delaware.csv for the state Delaware has 4 inside.
 File name: PovertyReport_Pennsylvania.csv for the state Pennsylvania has 4 inside.
 File name: PovertyReport_Louisiana.csv for the state Louisiana has 4 inside.
 File name: PovertyReport_Alabama.csv for the state Alabama has 4 inside.
 File name: PovertyReport_Texas.csv for the state Texas has 4 inside.
 File name: PovertyReport_Arizona.csv for the state Arizona has 4 inside.
 File name: PovertyReport_new_Mexico.csv for the state New Mexico has 4 inside.
 File name: PovertyReport_California.csv for the state California has 4 inside.
 File name: PovertyReport_Iowa.csv for the state Iowa has 4 inside.
 File name: PovertyReport_Connecticut.csv for the state Connecticut has 4 inside.

In [24]:
master_df.shape

(6284, 13)

In [26]:
master_df.head(3)

,Textbox105,Textbox106,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
139,All people in poverty (2019),Children ages 0-17 in poverty (2019),28001,Adams,5,27.9,22.2,33.6,40.8,30.3,51.3,percent,Mississippi
140,All people in poverty (2019),Children ages 0-17 in poverty (2019),28003,Alcorn,7,17.3,13.6,21.0,23.7,16.5,30.9,percent,Mississippi
141,All people in poverty (2019),Children ages 0-17 in poverty (2019),28005,Amite,8,20.9,16.4,25.4,29.1,20.3,37.9,percent,Mississippi

## Clean up DataFrame
<hr>

In [28]:
# Clean up master_df 
master_df.drop(columns = ['Textbox105', 'Textbox106'], inplace = True)
master_df

,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
139,28001,Adams,5,27.9,22.2,33.6,40.8,30.3,51.3,percent,Mississippi
140,28003,Alcorn,7,17.3,13.6,21.0,23.7,16.5,30.9,percent,Mississippi
141,28005,Amite,8,20.9,16.4,25.4,29.1,20.3,37.9,percent,Mississippi
142,28007,Attala,6,24.1,19.3,28.9,35.0,25.9,44.1,percent,Mississippi
143,28009,Benton,1,20.7,15.4,26.0,31.1,20.9,41.3,percent,Mississippi
...,...,...,...,...,...,...,...,...,...,...,...
78,09007,Middlesex,1,"11,024","9,322","12,726","1,996","1,466","2,526",numbers,Connecticut
79,09009,New Haven,2,"99,423","91,433","107,413","31,191","27,785","34,597",numbers,Connecticut
80,09011,New London,2,"19,739","16,173","23,305","5,774","4,340","7,208",numbers,Connecticut
81,09013,Tolland,1,"10,559","8,739","12,379","1,614","1,130","2,098",numbers,Connecticut
82,09015,Windham,2,"12,874","10,961","14,787","3,110","2,236","3,984",numbers,Connecticut

# Sanity Check
<hr>

In [29]:
for each_state in master_df['state'].unique():
    stats_master_list.remove(each_state)

In [30]:
# items missing from dataset
stats_master_list

['Puerto Rico']

In [23]:
# number of states inculuded in data set
master_df['state'].nunique()

51

# Write to CSV
<hr>

In [32]:
master_df.to_csv('../data/USDA/USDA_poverty_2019.csv', index=False)

<br>

# EDA
<hr>

In [31]:
master_df.shape

(6284, 11)

In [30]:
master_df.head()

,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
139,28001,Adams,5,27.9,22.2,33.6,40.8,30.3,51.3,percent,Mississippi
140,28003,Alcorn,7,17.3,13.6,21.0,23.7,16.5,30.9,percent,Mississippi
141,28005,Amite,8,20.9,16.4,25.4,29.1,20.3,37.9,percent,Mississippi
142,28007,Attala,6,24.1,19.3,28.9,35.0,25.9,44.1,percent,Mississippi
143,28009,Benton,1,20.7,15.4,26.0,31.1,20.9,41.3,percent,Mississippi