# Modeling 
<hr>

In [78]:
import pandas as pd
import numpy as np

# Data Input 
<hr>

In [79]:
path = '../data/Clean_data/'

In [80]:
file = 'aggregated_county_data-10pm-6_23_21.csv'

In [81]:
df = pd.read_csv(path + file, )

In [82]:
df.drop(df.columns[[0,1]], axis = 1, inplace = True)

In [83]:
df.shape

(3092, 125)

# Rows 
<hr>

In [84]:
df.iloc[1:3,0:11]

,zero_risk_factors_pct,1or2_risk_factors_pct,three_plus_risk_factors_pct,Estimated hesitant,Estimated hesitant or unsure,Estimated strongly hesitant,Social Vulnerability Index (SVI),CVAC level of concern for vaccination rollout,poverty_pct_total_all_people,poverty_pct_under18,per_biden
1,29.84,45.44,24.72,0.1544,0.1988,0.1169,0.22,0.23,10.1,13.5,22.409030
2,18.70,46.19,35.11,0.1676,0.2337,0.1274,1.00,0.89,27.1,41.0,45.788173

In [101]:
df.iloc[1:3,11:23]

,per_trump,pct_female,pct_male,WA_MALE_PCT,WA_FEMALE_PCT,WA_TOTAL_PCT,BA_MALE_PCT,BA_FEMALE_PCT,BA_TOTAL_PCT,IA_MALE_PCT,IA_FEMALE_PCT,IA_TOTAL_PCT
1,76.171373,0.514316,0.485684,0.875429,0.871111,0.873208,0.089897,0.091242,0.090589,0.008342,0.007063,0.007684
2,53.451226,0.474103,0.525897,0.493802,0.496185,0.494932,0.480726,0.481596,0.481138,0.007029,0.005198,0.006161

In [86]:
df.iloc[1:3,23:33]

,AA_MALE_PCT,AA_FEMALE_PCT,AA_TOTAL_PCT,NA_MALE_PCT,NA_FEMALE_PCT,NA_TOTAL_PCT,TOM_MALE_PCT,TOM_FEMALE_PCT,TOM_TOTAL_PCT,WAC_MALE_PCT
1,0.008371,0.012452,0.01047,0.000668,0.000631,0.000649,0.017293,0.017502,0.017401,0.891695
2,0.004157,0.005366,0.00473,0.002268,0.001174,0.001749,0.012018,0.010480,0.011289,0.502192

In [87]:
df.iloc[1:3,33:44]

,WAC_FEMALE_PCT,WAC_TOTAL_PCT,BAC_MALE_PCT,BAC_FEMALE_PCT,BAC_TOTAL_PCT,IAC_MALE_PCT,IAC_FEMALE_PCT,IAC_TOTAL_PCT,AAC_MALE_PCT,AAC_FEMALE_PCT,AAC_TOTAL_PCT
1,0.887505,0.889540,0.096970,0.098726,0.097873,0.016528,0.014986,0.015735,0.012217,0.016413,0.014375
2,0.504821,0.503438,0.488738,0.488891,0.488810,0.012698,0.008971,0.010931,0.006122,0.006707,0.006400

In [88]:
df.iloc[1:3,44:54]

,NAC_MALE_PCT,NAC_FEMALE_PCT,NAC_TOTAL_PCT,NH_MALE_PCT,NH_FEMALE_PCT,NH_TOTAL_PCT,NHWA_MALE_PCT,NHWA_FEMALE_PCT,NHWA_TOTAL_PCT,NHBA_MALE_PCT
1,0.001531,0.001537,0.001534,0.950290,0.958373,0.954447,0.830805,0.833591,0.832238,0.088211
2,0.002948,0.001593,0.002306,0.952986,0.959168,0.955917,0.456311,0.462396,0.459196,0.477400

In [89]:
df.iloc[1:3,54:64]

,NHBA_FEMALE_PCT,NHBA_TOTAL_PCT,NHIA_MALE_PCT,NHIA_FEMALE_PCT,NHIA_TOTAL_PCT,NHAA_MALE_PCT,NHAA_FEMALE_PCT,NHAA_TOTAL_PCT,NHNA_MALE_PCT,NHNA_FEMALE_PCT
1,0.089503,0.088876,0.007121,0.006441,0.006771,0.008235,0.012369,0.010361,0.000436,0.000540
2,0.477740,0.477561,0.003023,0.003018,0.003021,0.004157,0.005366,0.004730,0.001361,0.000587

In [90]:
df.iloc[1:3,64:73]

,NHNA_TOTAL_PCT,NHTOM_MALE_PCT,NHTOM_FEMALE_PCT,NHTOM_TOTAL_PCT,NHWAC_MALE_PCT,NHWAC_FEMALE_PCT,NHWAC_TOTAL_PCT,NHBAC_MALE_PCT,NHBAC_FEMALE_PCT
1,0.000489,0.015482,0.015928,0.015711,0.845511,0.848604,0.847102,0.094460,0.096255
2,0.000994,0.010733,0.010061,0.010415,0.463870,0.470697,0.467107,0.484732,0.484866

In [91]:
df.iloc[1:3,73:83]

,NHBAC_TOTAL_PCT,NHIAC_MALE_PCT,NHIAC_FEMALE_PCT,NHIAC_TOTAL_PCT,NHAAC_MALE_PCT,NHAAC_FEMALE_PCT,NHAAC_TOTAL_PCT,NHNAC_MALE_PCT,NHNAC_FEMALE_PCT,NHNAC_TOTAL_PCT
1,0.095384,0.014203,0.013504,0.013843,0.011810,0.015901,0.013914,0.001104,0.001171,0.001139
2,0.484795,0.007710,0.006624,0.007195,0.005971,0.006624,0.006281,0.001814,0.000922,0.001391

In [92]:
df.iloc[1:3,83:95]

,H_MALE_PCT,H_FEMALE_PCT,H_TOTAL_PCT,HWA_MALE_PCT,HWA_FEMALE_PCT,HWA_TOTAL_PCT,HBA_MALE_PCT,HBA_FEMALE_PCT,HBA_TOTAL_PCT,HIA_MALE_PCT,HIA_FEMALE_PCT,HIA_TOTAL_PCT
1,0.049710,0.041627,0.045553,0.044624,0.037520,0.040970,0.001686,0.001738,0.001713,0.001221,0.000622,0.000913
2,0.047014,0.040832,0.044083,0.037491,0.033789,0.035736,0.003326,0.003857,0.003578,0.004006,0.002180,0.003140

In [93]:
df.iloc[1:3,95:105]

,HAA_MALE_PCT,HAA_FEMALE_PCT,HAA_TOTAL_PCT,HNA_MALE_PCT,HNA_FEMALE_PCT,HNA_TOTAL_PCT,HTOM_MALE_PCT,HTOM_FEMALE_PCT,HTOM_TOTAL_PCT,HWAC_MALE_PCT
1,0.000136,0.000082,0.000108,0.000233,0.000091,0.000160,0.001812,0.001574,0.001689,0.046184
2,0.000000,0.000000,0.000000,0.000907,0.000587,0.000755,0.001285,0.000419,0.000875,0.038322

In [94]:
df.iloc[1:3,105:115]

,HWAC_FEMALE_PCT,HWAC_TOTAL_PCT,HBAC_MALE_PCT,HBAC_FEMALE_PCT,HBAC_TOTAL_PCT,HIAC_MALE_PCT,HIAC_FEMALE_PCT,HIAC_TOTAL_PCT,HAAC_MALE_PCT,HAAC_FEMALE_PCT
1,0.038901,0.042438,0.002509,0.002470,0.002489,0.002325,0.001482,0.001892,0.000407,0.000512
2,0.034124,0.036332,0.004006,0.004024,0.004015,0.004989,0.002348,0.003737,0.000151,0.000084

In [95]:
df.iloc[1:3,115:125]

,HAAC_TOTAL_PCT,HNAC_MALE_PCT,HNAC_FEMALE_PCT,HNAC_TOTAL_PCT,urbanicity_x,region_x,total_jail_pop_rate,urbanicity_y,region_y,jail_2018_pop_pct
1,0.000461,0.000426,0.000366,0.000395,small/mid,South,477.31,small/mid,South,0.002949
2,0.000119,0.001134,0.000671,0.000914,rural,South,702.18,rural,South,0.004461

In [96]:
df.iloc[1:3,125:]

Empty DataFrame
Columns: []
Index: [1, 2]

In [97]:
columns = df.columns
columns

Index(['zero_risk_factors_pct', '1or2_risk_factors_pct',
       'three_plus_risk_factors_pct', 'Estimated hesitant',
       'Estimated hesitant or unsure', 'Estimated strongly hesitant',
       'Social Vulnerability Index (SVI)',
       'CVAC level of concern for vaccination rollout',
       'poverty_pct_total_all_people', 'poverty_pct_under18',
       ...
       'HAAC_TOTAL_PCT', 'HNAC_MALE_PCT', 'HNAC_FEMALE_PCT', 'HNAC_TOTAL_PCT',
       'urbanicity_x', 'region_x', 'total_jail_pop_rate', 'urbanicity_y',
       'region_y', 'jail_2018_pop_pct'],
      dtype='object', length=125)

In [98]:
df.contain('New Mexico')

AttributeError: 'DataFrame' object has no attribute 'contain'

In [99]:
for x in df.columns:
    try:
        df[x].str.contains('New Mexico')

SyntaxError: unexpected EOF while parsing (<ipython-input-99-6bac7ee05b24>, line 3)