# USDA Mix 
<hr>

In [95]:
import pandas as pd 
import os
import numpy as np






['FIPS', 'county', 'state', 'prec_in_poverty_2019', '2012_unemployment',
       '2013_unemployment', '2014_unemployment', '2015_unemployment',
       '2016_unemployment', '2017_unemployment', '2018_unemployment',
       '2019_unemployment', '2020_unemployment',
       'Median Household Income (2019)', '2015-2019_completing_college',
       '2015-2019_some_college', '2015-2019_HS_only', '2015-2019_not_HS']

# Data in 
<hr>

In [96]:
poverty_df = pd.read_csv('../data/USDA/USDA_poverty_percent_2019.csv')
poverty_df.head()

,fips,county,ruc_code,total_all_people,total_all_people_min,total_all_people_max,under18,under18_min,under18_max,type,state
0,28001,Adams,5,27.9,22.2,33.6,40.8,30.3,51.3,percent,Mississippi
1,28003,Alcorn,7,17.3,13.6,21.0,23.7,16.5,30.9,percent,Mississippi
2,28005,Amite,8,20.9,16.4,25.4,29.1,20.3,37.9,percent,Mississippi
3,28007,Attala,6,24.1,19.3,28.9,35.0,25.9,44.1,percent,Mississippi
4,28009,Benton,1,20.7,15.4,26.0,31.1,20.9,41.3,percent,Mississippi

In [97]:
unemployment_df = pd.read_csv('../data/USDA/USDA_unemployment.csv')
unemployment_df.head(2)

,FIPS,Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,Median Household Income (2019),% of State Median HH Income,state
0,50001,"Addison County, VT",4.4,4.1,3.8,3.4,2.9,2.8,2.5,2.3,5.0,73574.0,1.162435,Vermont
1,50003,"Bennington County, VT",5.7,5.2,4.7,4.2,3.6,3.7,3.1,2.9,6.6,56948.0,0.899752,Vermont

In [98]:
education_df = pd.read_csv('../data/USDA/USDA_education_2015-2019.csv')
education_df.head(2)

,FIPS,Name,2013 Rural-urban Continuum Code*,2015-2019_completing_college,state,2015-2019_some_college,2015-2019_HS_only,2015-2019_not_HS
0,4001,"Apache, AZ",6.0,0.123006,Arizona,0.358629,0.322388,0.195978
1,4003,"Cochise, AZ",3.0,0.231096,Arizona,0.401705,0.241034,0.126165

# Pre-Merge
<hr>

### Proverty

In [99]:
poverty_df.columns

Index(['fips', 'county', 'ruc_code', 'total_all_people',
       'total_all_people_min', 'total_all_people_max', 'under18',
       'under18_min', 'under18_max', 'type', 'state'],
      dtype='object')

In [100]:
# drop in poverty
poverty_df.drop(columns = ['ruc_code','total_all_people_min', 'total_all_people_max', 'under18',
       'under18_min', 'under18_max', 'type'], inplace = True)

In [101]:
poverty_df.rename(columns = {'fips':'FIPS','total_all_people':'prec_in_poverty_2019'},
                 inplace = True)

In [102]:
poverty_df.head(1)

    FIPS county  prec_in_poverty_2019        state
0  28001  Adams                  27.9  Mississippi

<br>

### Unemployment

In [103]:
unemployment_df.columns

Index(['FIPS', 'Name', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', 'Median Household Income (2019)',
       '% of State Median HH Income', 'state'],
      dtype='object')

In [104]:
unemployment_df.drop(columns = ['Name' ,
       '% of State Median HH Income', 'state'], inplace = True)

In [105]:
unemployment_df.rename(columns = {'2012':'2012_unemployment',
                                  '2013':'2013_unemployment',
                                  '2014':'2014_unemployment',
                                  '2015':'2015_unemployment',
                                  '2016':'2016_unemployment',
                                  '2017':'2017_unemployment',
                                  '2018':'2018_unemployment',
                                  '2019':'2019_unemployment',
                                  '2020':'2020_unemployment',}, inplace = True)

In [106]:
unemployment_df.head(1)

,FIPS,2012_unemployment,2013_unemployment,2014_unemployment,2015_unemployment,2016_unemployment,2017_unemployment,2018_unemployment,2019_unemployment,2020_unemployment,Median Household Income (2019)
0,50001,4.4,4.1,3.8,3.4,2.9,2.8,2.5,2.3,5.0,73574.0

<br>

### Education
<hr>

In [107]:
education_df.columns

Index(['FIPS', 'Name', '2013 Rural-urban Continuum Code*',
       '2015-2019_completing_college', 'state', '2015-2019_some_college',
       '2015-2019_HS_only', '2015-2019_not_HS'],
      dtype='object')

In [108]:
 ['Name', '2013 Rural-urban Continuum Code*','state']

['Name', '2013 Rural-urban Continuum Code*', 'state']

In [109]:
education_df.drop(columns =  ['Name', '2013 Rural-urban Continuum Code*',
                                 'state'], inplace = True)

In [110]:
education_df.head(2)

,FIPS,2015-2019_completing_college,2015-2019_some_college,2015-2019_HS_only,2015-2019_not_HS
0,4001,0.123006,0.358629,0.322388,0.195978
1,4003,0.231096,0.401705,0.241034,0.126165

<br>

# Merge
<hr>

In [111]:
poverty_df.shape

(3141, 4)

In [112]:
master_df = poverty_df.merge(unemployment_df, on = 'FIPS', how='left')

In [113]:
master_df.shape

(3141, 14)

In [114]:
master_df = master_df.merge(education_df, on = 'FIPS', how = 'left')

In [115]:
master_df.shape

(3141, 18)

In [116]:
master_df.columns

Index(['FIPS', 'county', 'prec_in_poverty_2019', 'state', '2012_unemployment',
       '2013_unemployment', '2014_unemployment', '2015_unemployment',
       '2016_unemployment', '2017_unemployment', '2018_unemployment',
       '2019_unemployment', '2020_unemployment',
       'Median Household Income (2019)', '2015-2019_completing_college',
       '2015-2019_some_college', '2015-2019_HS_only', '2015-2019_not_HS'],
      dtype='object')

In [117]:
# Reorder dataframe
master_df = master_df[['FIPS', 'county', 'state','prec_in_poverty_2019',  '2012_unemployment',
                       '2013_unemployment', '2014_unemployment', '2015_unemployment',
                       '2016_unemployment', '2017_unemployment', '2018_unemployment',
                       '2019_unemployment', '2020_unemployment',
                       'Median Household Income (2019)', '2015-2019_completing_college',
                       '2015-2019_some_college', '2015-2019_HS_only', '2015-2019_not_HS']]

In [119]:
# Master DF

In [120]:
master_df.head().T

,0,1,2,3,4
FIPS,28001,28003,28005,28007,28009
county,Adams,Alcorn,Amite,Attala,Benton
state,Mississippi,Mississippi,Mississippi,Mississippi,Mississippi
prec_in_poverty_2019,27.9,17.3,20.9,24.1,20.7
2012_unemployment,9.7,8.5,9.9,9.6,10.4
2013_unemployment,9.3,7.7,9.1,9.3,10.4
2014_unemployment,8.4,6.7,8.1,8.8,9.5
2015_unemployment,8.1,5.7,7.7,7.7,8.1
2016_unemployment,8.4,5.3,7.5,6.8,6.9
2017_unemployment,7.5,4.5,6.9,6.2,5.7
2018_unemployment,6.5,4.3,6.4,5.8,5.8
2019_unemployment,7.2,4.8,7.1,6.4,6.3
2020_unemployment,11,6.2,8.4,8.3,8.3
Median Household Income (2019),34583,43496,41575,36905,37875
2015-2019_completing_college,0.174432,0.171251,0.125637,0.139183,0.115405
2015-2019_some_college,0.274382,0.319973,0.300244,0.312469,0.276656
2015-2019_HS_only,0.329806,0.321971,0.392865,0.324434,0.333743
2015-2019_not_HS,0.22138,0.186805,0.181254,0.223913,0.274196

In [121]:
master_df.isna().sum()

FIPS                              0
county                            0
state                             0
prec_in_poverty_2019              0
2012_unemployment                 5
2013_unemployment                 5
2014_unemployment                 5
2015_unemployment                 5
2016_unemployment                 5
2017_unemployment                 5
2018_unemployment                 5
2019_unemployment                 5
2020_unemployment                 5
Median Household Income (2019)    5
2015-2019_completing_college      5
2015-2019_some_college            5
2015-2019_HS_only                 5
2015-2019_not_HS                  5
dtype: int64

In [122]:
# view Nans
master_df[master_df['2012_unemployment'].isnull()]

,FIPS,county,state,prec_in_poverty_2019,2012_unemployment,2013_unemployment,2014_unemployment,2015_unemployment,2016_unemployment,2017_unemployment,2018_unemployment,2019_unemployment,2020_unemployment,Median Household Income (2019),2015-2019_completing_college,2015-2019_some_college,2015-2019_HS_only,2015-2019_not_HS
673,2158,Kusilvak,Alaska,26.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.039152,0.189526,0.560100,0.211222
679,2195,Alaska,Alaska,6.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,2198,Alaska,Alaska,17.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,2275,Alaska,Alaska,9.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1934,46102,Oglala Lakota,South Dakota,40.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.104250,0.356760,0.277678,0.261312

In [123]:
# identify Nans in FIPS row 
nan_rows = master_df[master_df['2012_unemployment'].isnull()].index
nan_rows

Int64Index([673, 679, 680, 685, 1934], dtype='int64')

In [124]:
# remove rows with all Nans
master_df.drop(nan_rows, inplace = True)

In [125]:
master_df.isna().sum()

FIPS                              0
county                            0
state                             0
prec_in_poverty_2019              0
2012_unemployment                 0
2013_unemployment                 0
2014_unemployment                 0
2015_unemployment                 0
2016_unemployment                 0
2017_unemployment                 0
2018_unemployment                 0
2019_unemployment                 0
2020_unemployment                 0
Median Household Income (2019)    0
2015-2019_completing_college      2
2015-2019_some_college            2
2015-2019_HS_only                 2
2015-2019_not_HS                  2
dtype: int64

In [126]:
# view Nans
master_df[master_df['2015-2019_HS_only'].isnull()]

,FIPS,county,state,prec_in_poverty_2019,2012_unemployment,2013_unemployment,2014_unemployment,2015_unemployment,2016_unemployment,2017_unemployment,2018_unemployment,2019_unemployment,2020_unemployment,Median Household Income (2019),2015-2019_completing_college,2015-2019_some_college,2015-2019_HS_only,2015-2019_not_HS
668,2105,Alaska,Alaska,15.7,14.6,14.7,14.9,14.7,11.3,11.5,11.5,10.0,13.5,53141.0,NaN,NaN,NaN,NaN
682,2230,Alaska,Alaska,4.0,14.2,12.4,11.7,11.1,10.7,9.7,8.7,8.8,21.5,74898.0,NaN,NaN,NaN,NaN

In [127]:
# view Nans
nan_rows = master_df[master_df['2015-2019_HS_only'].isnull()].index
nan_rows

Int64Index([668, 682], dtype='int64')

In [128]:
# remove rows with all Nans
master_df.drop(nan_rows, inplace = True)

In [129]:
master_df.isna().sum()

FIPS                              0
county                            0
state                             0
prec_in_poverty_2019              0
2012_unemployment                 0
2013_unemployment                 0
2014_unemployment                 0
2015_unemployment                 0
2016_unemployment                 0
2017_unemployment                 0
2018_unemployment                 0
2019_unemployment                 0
2020_unemployment                 0
Median Household Income (2019)    0
2015-2019_completing_college      0
2015-2019_some_college            0
2015-2019_HS_only                 0
2015-2019_not_HS                  0
dtype: int64

<br>

# Write to CSV
<hr>

In [135]:
master_df.to_csv('../data/USDA/USDA_all.csv', index=False)

# EDA
<hr>

In [136]:
master_df.columns

Index(['FIPS', 'county', 'state', 'prec_in_poverty_2019', '2012_unemployment',
       '2013_unemployment', '2014_unemployment', '2015_unemployment',
       '2016_unemployment', '2017_unemployment', '2018_unemployment',
       '2019_unemployment', '2020_unemployment',
       'Median Household Income (2019)', '2015-2019_completing_college',
       '2015-2019_some_college', '2015-2019_HS_only', '2015-2019_not_HS'],
      dtype='object')

In [134]:
master_df.shape

(3134, 18)

In [133]:
master_df.head()

,FIPS,county,state,prec_in_poverty_2019,2012_unemployment,2013_unemployment,2014_unemployment,2015_unemployment,2016_unemployment,2017_unemployment,2018_unemployment,2019_unemployment,2020_unemployment,Median Household Income (2019),2015-2019_completing_college,2015-2019_some_college,2015-2019_HS_only,2015-2019_not_HS
0,28001,Adams,Mississippi,27.9,9.7,9.3,8.4,8.1,8.4,7.5,6.5,7.2,11.0,34583.0,0.174432,0.274382,0.329806,0.221380
1,28003,Alcorn,Mississippi,17.3,8.5,7.7,6.7,5.7,5.3,4.5,4.3,4.8,6.2,43496.0,0.171251,0.319973,0.321971,0.186805
2,28005,Amite,Mississippi,20.9,9.9,9.1,8.1,7.7,7.5,6.9,6.4,7.1,8.4,41575.0,0.125637,0.300244,0.392865,0.181254
3,28007,Attala,Mississippi,24.1,9.6,9.3,8.8,7.7,6.8,6.2,5.8,6.4,8.3,36905.0,0.139183,0.312469,0.324434,0.223913
4,28009,Benton,Mississippi,20.7,10.4,10.4,9.5,8.1,6.9,5.7,5.8,6.3,8.3,37875.0,0.115405,0.276656,0.333743,0.274196