# Census Population ensity
<hr>

In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel('../data_raw/census-population_density/co-est2019-annres.xlsx', skiprows=3)

In [9]:
df.shape

(3149, 13)

In [10]:
df.head()

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,308745538.0,308758105.0,309321666.0,311556874.0,313830990.0,315993715.0,318301008.0,320635163.0,322941311.0,324985539.0,326687501.0,328239523.0
1,".Autauga County, Alabama",54571.0,54597.0,54773.0,55227.0,54954.0,54727.0,54893.0,54864.0,55243.0,55390.0,55533.0,55869.0
2,".Baldwin County, Alabama",182265.0,182265.0,183112.0,186558.0,190145.0,194885.0,199183.0,202939.0,207601.0,212521.0,217855.0,223234.0
3,".Barbour County, Alabama",27457.0,27455.0,27327.0,27341.0,27169.0,26937.0,26755.0,26283.0,25806.0,25157.0,24872.0,24686.0
4,".Bibb County, Alabama",22915.0,22915.0,22870.0,22745.0,22667.0,22521.0,22553.0,22566.0,22586.0,22550.0,22367.0,22394.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3149 entries, 0 to 3148
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      3149 non-null   object
 1   Census          3143 non-null   float64
 2   Estimates Base  3143 non-null   float64
 3   2010            3143 non-null   float64
 4   2011            3143 non-null   float64
 5   2012            3143 non-null   float64
 6   2013            3143 non-null   float64
 7   2014            3143 non-null   float64
 8   2015            3143 non-null   float64
 9   2016            3143 non-null   float64
 10  2017            3143 non-null   float64
 11  2018            3143 non-null   float64
 12  2019            3143 non-null   float64
dtypes: float64(12), object(1)
memory usage: 319.9+ KB

## Nan's
<hr>

In [16]:
df.isna().sum()

Unnamed: 0        0
Census            6
Estimates Base    6
2010              6
2011              6
2012              6
2013              6
2014              6
2015              6
2016              6
2017              6
2018              6
2019              6
dtype: int64

In [18]:
df[ df['Census'].isnull()]

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
3143,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3144,"Note: The 6,222 people in Bedford city, Virgin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3145,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3146,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3147,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3148,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# dropping NaNs
nan_rows = df[ df['Census'].isnull()].index
df.drop(nan_rows, inplace = True)

# Write to CSV
<hr>

In [21]:
df.to_csv('../data/USDA/census_population_density.csv', index=False)