# Modeling 
<hr>

In [1]:
import pandas as pd
import numpy as np

# Data Input 
<hr>

In [4]:
path = '../data/Clean_data/'

In [5]:
file = 'aggregated_county_data-4pm-6_23_21.csv'

In [6]:
df = pd.read_csv(path + file, )

In [15]:
df.drop(df.columns[[0,1]], axis = 1, inplace = True)

In [16]:
df.shape

(3092, 125)

# Rows 
<hr>

In [20]:
df.iloc[1:3,1:11]

,1or2_risk_factors_pct,three_plus_risk_factors_pct,Estimated hesitant,Estimated hesitant or unsure,Estimated strongly hesitant,Social Vulnerability Index (SVI),CVAC level of concern for vaccination rollout,poverty_pct_total_all_people,poverty_pct_under18,per_biden
1,45.44,24.72,0.1544,0.1988,0.1169,0.22,0.23,10.1,13.5,22.409030
2,46.19,35.11,0.1676,0.2337,0.1274,1.00,0.89,27.1,41.0,45.788173

In [23]:
df.iloc[1:3,11:23]

,per_trump,pct_female,pct_male,WA_MALE_PCT,WA_FEMALE_PCT,WA_TOTAL_PCT,BA_MALE_PCT,BA_FEMALE_PCT,BA_TOTAL_PCT,IA_MALE_PCT,IA_FEMALE_PCT,IA_TOTAL_PCT
1,76.171373,0.514316,0.485684,0.875429,0.871111,0.873208,0.089897,0.091242,0.090589,0.008342,0.007063,0.007684
2,53.451226,0.474103,0.525897,0.493802,0.496185,0.494932,0.480726,0.481596,0.481138,0.007029,0.005198,0.006161

In [25]:
df.iloc[1:3,23:33]

,AA_MALE_PCT,AA_FEMALE_PCT,AA_TOTAL_PCT,NA_MALE_PCT,NA_FEMALE_PCT,NA_TOTAL_PCT,TOM_MALE_PCT,TOM_FEMALE_PCT,TOM_TOTAL_PCT,WAC_MALE_PCT
1,0.008371,0.012452,0.01047,0.000668,0.000631,0.000649,0.017293,0.017502,0.017401,0.891695
2,0.004157,0.005366,0.00473,0.002268,0.001174,0.001749,0.012018,0.010480,0.011289,0.502192

In [26]:
df.iloc[1:3,33:44]

,WAC_FEMALE_PCT,WAC_TOTAL_PCT,BAC_MALE_PCT,BAC_FEMALE_PCT,BAC_TOTAL_PCT,IAC_MALE_PCT,IAC_FEMALE_PCT,IAC_TOTAL_PCT,AAC_MALE_PCT,AAC_FEMALE_PCT,AAC_TOTAL_PCT
1,0.887505,0.889540,0.096970,0.098726,0.097873,0.016528,0.014986,0.015735,0.012217,0.016413,0.014375
2,0.504821,0.503438,0.488738,0.488891,0.488810,0.012698,0.008971,0.010931,0.006122,0.006707,0.006400