# USDA Population Data
<hr>

In [14]:
import pandas as pd
import numpy as np
import os

# Data
## US Population data by county
Economic Research Service  
U.S. Department of Agriculture  
link:

# Contants
<hr>

In [15]:
"""
Duplicate check 3
from 
https://thispointer.com/python-3-ways-to-check-if-there-are-duplicates-in-a-list/
"""
def checkIfDuplicates_3(listOfElems):
    ''' Check if given list contains any duplicates '''    
    for elem in listOfElems:
        if listOfElems.count(elem) > 1:
            return True
    return False

## File managment
<hr>

In [16]:
path = "../data_raw/USDA_population/"

In [17]:
files = os.listdir(path)

In [18]:
# remove mac file 
#files.remove('.DS_Store')

In [19]:
files

['PopulationReport (8).xlsx',
 'PopulationReport (34).xlsx',
 'PopulationReport (10).xlsx',
 'PopulationReport (12).xlsx',
 'PopulationReport (36).xlsx',
 'PopulationReport (32).xlsx',
 'PopulationReport (16).xlsx',
 'PopulationReport (14).xlsx',
 'PopulationReport (51).xlsx',
 'PopulationReport (29).xlsx',
 'PopulationReport (48).xlsx',
 'PopulationReport (30).xlsx',
 'PopulationReport (13).xlsx',
 'PopulationReport (37).xlsx',
 'PopulationReport (35).xlsx',
 'PopulationReport (9).xlsx',
 'PopulationReport (11).xlsx',
 'PopulationReport (28).xlsx',
 'PopulationReport (50).xlsx',
 'PopulationReport (15).xlsx',
 'PopulationReport (31).xlsx',
 'PopulationReport (49).xlsx',
 'PopulationReport (33).xlsx',
 'PopulationReport (17).xlsx',
 'PopulationReport (26).xlsx',
 'PopulationReport.xlsx',
 'PopulationReport (3).xlsx',
 'PopulationReport (47).xlsx',
 'PopulationReport (1).xlsx',
 'PopulationReport (45).xlsx',
 'PopulationReport (19).xlsx',
 'PopulationReport (24).xlsx',
 'PopulationReport (20).xlsx',
 'PopulationReport (41).xlsx',
 'PopulationReport (5).xlsx',
 'PopulationReport (39).xlsx',
 'PopulationReport (43).xlsx',
 'PopulationReport (7).xlsx',
 'PopulationReport (22).xlsx',
 'PopulationReport (44).xlsx',
 'PopulationReport (25).xlsx',
 'PopulationReport (18).xlsx',
 'PopulationReport (27).xlsx',
 'PopulationReport (46).xlsx',
 'PopulationReport (2).xlsx',
 'PopulationReport (6).xlsx',
 'PopulationReport (42).xlsx',
 'PopulationReport (23).xlsx',
 'PopulationReport (21).xlsx',
 'PopulationReport (38).xlsx',
 'PopulationReport (4).xlsx',
 'PopulationReport (40).xlsx']

# Example of the csv files
<hr>

In [20]:
# random peek
df = pd.read_excel('../data_raw/USDA_population/PopulationReport (15).xlsx', skiprows=2)

In [21]:
df.shape

(103, 9)

In [33]:
df.head()

,FIPS*,County name,RUC code,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2019,Change 2010-19,NaN
0,19000,Iowa,NaN,2776831.0,2926538.0,3046871.0,3155070.0,0.035512,NaN
1,19001,Adair County,8.0,8409.0,8252.0,7682.0,7152.0,-0.068992,NaN
2,19003,Adams County,9.0,4866.0,4479.0,4029.0,3602.0,-0.105982,NaN
3,19005,Allamakee County,6.0,13855.0,14687.0,14328.0,13687.0,-0.044738,NaN
4,19007,Appanoose County,7.0,13743.0,13715.0,12887.0,12426.0,-0.035772,NaN

In [23]:
df.tail()

,FIPS*,County name,RUC code,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2019,Change 2010-19,NaN
98,19195,Worth County,9.0,7991.0,7904.0,7591.0,7381.0,-0.027664,NaN
99,19197,Wright County,7.0,14269.0,14337.0,13229.0,12562.0,-0.050420,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,"Source: U.S. Census Bureau, 1990, 2000, and 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df.iloc[:3,:8]

,FIPS*,County name,RUC code,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2019,Change 2010-19
0,19000,Iowa,NaN,2776831.0,2926538.0,3046871.0,3155070.0,0.035512
1,19001,Adair County,8.0,8409.0,8252.0,7682.0,7152.0,-0.068992
2,19003,Adams County,9.0,4866.0,4479.0,4029.0,3602.0,-0.105982

In [25]:
# columns for master data frame
columns = df.columns

# Create master DataFrame
<hr>

In [38]:
# Concat 

# create master file 
master_df = pd.DataFrame(columns = columns)
state_name_list = []

# LOOP 
for file in files:
    # read excel file
    _df = pd.read_excel(path + file, skiprows=2)
    # read state_name
    state_name = _df.iloc[0,1]
    

    
# DROP
    #drop row 0
    _df.drop(0, inplace = True)
    
    # Drop last 2 rows 
    _df.drop(_df.tail(1).index, inplace = True)

    # work around to drop NaN column 
    _df = _df.iloc[:,:8]
    print(_df)
    break
    
# add Column for STATE name
    # add state column 
    _df['state'] = state_name
    state_name_list.append(state_name)
    
    # Concat 
    master_df = pd.concat([master_df, _df])

   FIPS*           County name  RUC code  Pop. 1990  Pop. 2000  Pop. 2010  \
1  11001  District of Columbia       1.0   606900.0   572086.0   601767.0
2    NaN                   NaN       NaN        NaN        NaN        NaN

   Pop. 2019  Change 2010-19
1   705749.0        0.172794
2        NaN             NaN

In [27]:
master_df.shape

(3269, 10)

In [28]:
master_df.head(2)

,FIPS*,County name,RUC code,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2019,Change 2010-19,NaN,state
1,11001,District of Columbia,1.0,606900.0,572086.0,601767.0,705749.0,NaN,NaN,District of Columbia
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District of Columbia

## Dataframe clean up
<hr>

In [105]:
# reset Index
master_df.reset_index(drop = True, inplace = True )

In [45]:
master_df.columns

Index([         'FIPS*',    'County name',       'RUC code',      'Pop. 1990',
            'Pop. 2000',      'Pop. 2010',      'Pop. 2019', 'Change 2010-19',
                   None,          'state'],
      dtype='object')

In [46]:
# Rename columns 
master_df.rename(columns = {'FIPS*':'FIPS'}, inplace = True)

## Remove rows with all nan's
<hr>

In [49]:
master_df.isna().sum()

FIPS                55
County name         55
RUC code            55
Pop. 1990           55
Pop. 2000           55
Pop. 2010           55
Pop. 2019           55
Change 2010-19      55
NaN               3269
state                0
dtype: int64

In [54]:
master_df[ master_df['FIPS'].isnull()].head()

,FIPS,County name,RUC code,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2019,Change 2010-19,NaN,state
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District of Columbia
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Idaho

In [51]:
nan_rows = master_df[ master_df['FIPS'].isnull()].index
nan_rows

Int64Index([  2,  54, 160, 161,  45,  78,  63, 106,  93,  79,  11,  56,  22,
            103,  37,  89,  68,   6,  18,  24, 100, 101,  34,  73, 101, 121,
             57,  68,  76,  40,  25,  15,  17,  83,  25,  67,  64,   6, 255,
            256,   4,  84,  30, 116,  65,  94, 134,  16,   9,  96,  88,  15,
             68,  59,  47],
           dtype='int64')

In [52]:
len(nan_rows)

55

In [55]:
# remove rows with all Nans
master_df.drop(nan_rows, inplace = True)

In [56]:
master_df.isna().sum()

FIPS                 0
County name          0
RUC code             0
Pop. 1990            0
Pop. 2000            0
Pop. 2010            0
Pop. 2019            0
Change 2010-19       0
NaN               2062
state                0
dtype: int64